body {
    background-color: #292929;
    display:flex;
    justify-content: center;
}

#gameBoard {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 606px;
    height: 606px;
    border: 1px solid white;
}

.cell {
    height: 200px;
    width: 200px;
    border: 1px solid white;
}

.cell:hover {
    background-color: #494949;
}

.X {
   background-image: url("sprites/xMarker-white.svg");
   background-repeat:no-repeat;
   background-size: 95% 95%;
   background-position: center center;
}

.O {
    background-image: url("sprites/oMarker-white.svg");
    background-repeat:no-repeat;
    background-size: 95% 95%;
    background-position: center center;
}

.winningCell {
    background-color: rgba(0, 255, 0, 0.644);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#292929;
    background-color: rgba(29, 29, 29, 0.4);
}

.modal-content {
    background-color:rgba(29, 29, 29, 0.7);
    margin: 8% auto;
    padding: 20px;
    border: 1px solid white;
    width: 300px;
    height: 300px;
    color: white;
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

#winnerAlert {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

#playAgainPrompt {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

#buttonContainer {
    display:grid;
    align-content: center;
    margin-top:15%;
    margin-left: 25%;
    width: 100px;
    height: 75px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

.menuBTN {
    display:flex;
    height: 45px;
    width: 55px;
    border: 1px solid white;
    margin-left: 10%;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

.menuBTN:hover {
    animation: shake 1s;
    animation-iteration-count: 1;
}

#yesButton {

}

#yesButton:hover {
    background-color: green;
    box-shadow: 1px 1px 1px 1px rgba(0, 128, 0, 0.5), -1px -1px 1px 1px rgba(0, 128, 0, 0.5);
}


#noButton {

}

#noButton:hover {
    background-color: red;
    box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 0.507), -1px -1px 1px 1px rgba(255, 0, 0, 0.507);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }   
}